.wrapper {
    margin: auto;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.info__contanier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: var(--main-text);
    padding: 10px;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 1200px;
    color: var(--main-text);
    height: 80px;
    background-color: var(--main-header);
    background: linear-gradient(to right, var(--main-bg), var(--main-header));
}

.word {
    margin-right: 20px;
}

.hidden {
    display: none;
}

.description {
    margin-right: 20px;
}

.partOfSpeech {
    color: var(--main-color);
}

.createNewCardLink {
    display: inline-block;
    height: 50px;
    text-decoration: none;
    color: var(--main-text);
    width: 220px;
}

.textCreate {
    margin-top: 13px;
    font-weight: 300;
    font-size: 18px;
}

.myWords {
    margin-top: 15px;
}

.createNewCardLink:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: #64C650;
    border-radius: 10px;
}

.noCards {
    display: block;
    margin: auto;
    color: var(--main-text);
    text-align: center;
    background-color: var(--main-header);
    border-radius: 10px;
    width: 1200px;
    height: 80px;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(to right, var(--main-bg), var(--main-header));
}

.noCardsText {
    padding-top: 25px;
}

.actionsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.changeButton, 
.infoButton, 
.deleteButton {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    background-color: var(--main-header);
    color: var(--main-text);
    cursor: pointer;
    background: transparent;
}

#first:hover {
    color: #518a0f;
}

#second:hover {
    color: #0F658A;
}

#third:hover {
    color: #97191D;
}

#first, #second, #third {
    transition: color .2s linear;
}

.wordBtnFirst {
    border: none;
    color: var(--main-text);
    background-color: var(--main-bg);
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.wordBtnFirst:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: var(--main-nav);
    border-radius: 10px;
}

.hideWord {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.descriptionBtnSecond {
    border: none;
    color: var(--main-text);
    background-color: var(--main-bg);
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.descriptionBtnSecond:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: var(--main-nav);
    border-radius: 10px;
}

.hideDescription {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.exposition {
    color: var(--main-text);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 300;
}

.expositionCard {
    margin: auto;
    margin-top: 35px;
    width: 1200px;
}

.searchWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.search {
    height: 30px;
    width: 300px;
    padding: 10px;
    outline: 1px;
    outline-style: solid;
    outline-color: transparent;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, var(--main-bg), var(--main-header));
    font-size: 20px;
    color: var(--main-text);
}

.search:focus {
    color: var(--main-text);
}




