.wrapper {
    margin: auto;
    width: 100%;
    margin-top: 100px;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.info__contanier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 10px;
    color: var(--main-text);
    padding: 10px;
}

.hideWords, .hideTranslates, .createNewCard {
    min-width: 210px;
    height: 50px;
    margin: 10px;
}

.card {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 1200px;
    color: var(--main-text);
    height: 60px;
    background-color: var(--main-header);
    background: linear-gradient(to right, var(--main-bg), var(--main-header));
}

.word {
    margin-right: 20px;
}

.hidden {
    display: none;
}

.description {
    margin-right: 20px;
}

.partOfSpeech {
    color: var(--main-color);
}

.createNewCardLink {
    display: inline-block;
    height: 50px;
    text-decoration: none;
    color: var(--main-text);
    width: 220px;
}

.textCreate {
    margin-top: 13px;
    font-weight: 300;
    font-size: 18px;
}

.createNewCardLink:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: #64C650;
    border-radius: 10px;
}

.noCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--main-text);
    max-width: 1200px;
    height: 80px;
    font-size: 20px;
    font-weight: 300;
}

.actionsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.changeButton, 
.infoButton, 
.deleteButton {
    margin: 5px;
    background-color: var(--main-header);
    color: var(--main-text);
    cursor: pointer;
    background: transparent;
}

#first:hover {
    color: #518a0f;
}

#second:hover {
    color: #0F658A;
}

#third:hover {
    color: #97191D;
}

#first, #second, #third {
    transition: color .2s linear;
}

.wordBtnFirst, .descriptionBtnSecond, .createNewCardLink {
    border: none;
    color: var(--main-text);
    background-color: var(--main-bg);
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.wordBtnFirst:hover, .descriptionBtnSecond:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: var(--main-nav);
    border-radius: 10px;
}

.exposition {
    color: var(--main-text);
    font-size: 18px;
    font-weight: 300;
}

.expositionCard {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: start;
}

.searchWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.search {
    height: 30px;
    width: 300px;
    padding: 10px;
    outline: 1px;
    outline-style: solid;
    outline-color: transparent;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, var(--main-bg), var(--main-header));
    font-size: 20px;
    color: var(--main-text);
}

.search:focus {
    color: var(--main-text);
}

@media(max-width: 768px) {
    .title {
        flex-direction: column;
        justify-content: center;
    }

    h1, h2, h3, h4, h5, h6, p, strong {
        font-size: 14px;
    }

    .card {
        padding: 10px;
        margin: 20px;
        height: 80px;
    }

    .wordBtnFirst, .descriptionBtnSecond, .createNewCard {
        outline: 1px;
        outline-style: solid;
        outline-color: var(--main-nav);
        border-radius: 10px;
    }

    .createNewCard {
        outline-color: #64C650;
    }

    .info__contanier {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .expositionCard {
        margin: 20px;
    }
}


