html {
    font-family: 'Montserrat', sans-serif;
}
body {
background: rgb(22, 22, 22);
font-family: 'Montserrat', sans-serif;
font-size: 15px;
margin: 0;

}

h1, h2, h3, h4, h5, h6 {
margin: 0;
color: white;
}

.intro {
width: 100%;
height: 100vh;
/* background-image: url(../images/back.jpg); */
}

.header {
position: absolute;
width: 100%;
height: 60px;
top: 0;
left: 0;
right: 0;
z-index: 1400;
background-color: rgb(37, 43, 48);
padding-top: 20px; /* Отступ сверху!!! */
}

.contanier {
width: 100%;
max-width: 1400px;
margin: 0 auto;
}

.header__inner {
display: flex; /* объеденяем div'ы внутри header__inner (flex box) */
justify-content: space-between; /* делаем расстояние между name и nav */
align-items: center; /* Выравнивание текста по центру!!! */
}

.name {
font-size: 30px;
font-weight: 600;
color: white;
margin-left: 30px;
}

.nav {
font-size: 15px;
text-transform: uppercase;
}

.nav__link {
display: inline-block; /* навигация становится не просто словами, а блоком */
margin:0 30px; /* отступ, расстояние между навигацией */
color: white;
text-decoration: none; /* убираем подчеркивание у ссылок */
transition: color .2s linear; /* плавная смена цвета у ссылки */

}

.nav__link:hover {
color: rgb(191, 127, 8);

}


.wrapper {
margin: auto;
margin-top: 160px;

}

.cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.cardWrapperAll {
    display: flex;
    flex-direction: row;
}

.title {
display: flex;
justify-content: space-between;
margin: auto;
height: 20px;
width: 1100px;
margin-bottom:30px;
border-radius: 10px;
color: white;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 20px;
font-weight: 600;
}

.card {
margin: auto;
margin-bottom: 10px;
border-radius: 10px;
width: 1200px;
color: white;
height: 80px;
background-color: rgb(37, 43, 48);
}



.word {
margin: auto;
font-size: 30px;
font-weight: 400;
margin-left: 15px;
margin-right: 10px;
margin-top: 15px;
font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}


.description {
font-size: 20px;
font-weight: 300;
margin-left: 15px;
margin-top: 23px;
margin-bottom: 5px;
font-family: 'Montserrat', sans-serif;
}

.createNewCard {

}

.createNewCardLink {
display: inline-block;
height: 50px;
text-decoration: none;
color: white;
width: 220px;
}

.textCreate {
margin-top: 13px;
font-weight: 300;
font-size: 18px;
}

.myWords {
margin-top: 15px;
}

.createNewCardLink:hover {
outline: 1px;
outline-style: solid;
outline-color: rgb(255, 255, 255);
border-radius: 10px;
}

.noCards {
display: block;
margin: auto;
color: white;
text-align: center;
background-color: rgb(37, 43, 48);
border-radius: 10px;
width: 1200px;
height: 80px;
font-size: 20px;
font-weight: 300;
}

.noCardsText {
padding-top: 25px;
}

.deleteWord {
display: flex;
justify-content: end;
align-items: center;
text-decoration: none;
margin-left: 1px;
margin-right: 15px;
margin-top: 10px;
}

.deleteWordBtn {
height: 50px;
width: 100px;
background-color: rgb(37, 43, 48);
border: none;
font-size: 15px;
color: white;
cursor: pointer;
        font-family: 'Montserrat', sans-serif;

}

.deleteWordBtn:hover {
outline: 1px;
outline-style: solid;
outline-color: #97191D;
border-radius: 10px;
}

.wordBtn{

}

.descriptionBtn{


}

.wordBtnFirst {
border: none;
color: white;
background-color: rgb(22, 22, 22);
cursor: pointer;
width: 220px;
height: 50px;
font-size: 18px;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
}

.wordBtnFirst:hover {
outline: 1px;
outline-style: solid;
outline-color: rgb(191, 127, 8);
border-radius: 10px;
}

.hideWord {
font-size: 18px;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
}

.descriptionBtnSecond {
border: none;
color: white;
background-color: rgb(22, 22, 22);
cursor: pointer;
width: 220px;
height: 50px;
font-size: 18px;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
}

.descriptionBtnSecond:hover {
outline: 1px;
outline-style: solid;
outline-color: rgb(191, 127, 8);
border-radius: 10px;
}

.hideDescription {
font-size: 18px;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
}

