body {
    background: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: white;
}

.intro {
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/back.jpg); */
}

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1400;
    background-color: rgb(37, 43, 48);
    padding-top: 20px; /* Отступ сверху!!! */
}

.contanier {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header__inner {
    display: flex; /* объеденяем div'ы внутри header__inner (flex box) */
    justify-content: space-between; /* делаем расстояние между name и nav */
    align-items: center; /* Выравнивание текста по центру!!! */
}

.name {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
}

.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block; /* навигация становится не просто словами, а блоком */
    margin:0 30px; /* отступ, расстояние между навигацией */
    color: white;
    text-decoration: none; /* убираем подчеркивание у ссылок */
    transition: color .2s linear; /* плавная смена цвета у ссылки */

}

.nav__link:hover {
    color: rgb(191, 127, 8);
}

.formWrapper {
    margin: auto;
    margin-top: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#inForm {
    background-color: rgb(37, 43, 48);
    font-size: 20px;
    caret-color: white;
}

.inputWord {
    height: 50px;
    padding-left: 10px;
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(37, 43, 48);
    border-radius: 10px;
    border: none;
    font-weight: 300;
}

.inputWord:focus {
    color: white;
}

.inputTrns {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    height: 100px;
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(37, 43, 48);
    border-radius: 10px;
    resize: none;
    border: none;
    font-weight: 300;
}

.inputTrns::placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.inputTrns:focus {
    color: white;
}

.accept {
    width: 220px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border: none;
    transition: outline .2s;
    color: white;
    outline-color: white;
    font-family: 'Montserrat', sans-serif;
}

.accept:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
}