.formWrapper {
    margin: auto;
    margin-top: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#inForm {
    background-color: rgb(37, 43, 48);
    font-size: 20px;
    caret-color: white;
}

.inputWord {
    height: 50px;
    padding-left: 10px;
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(37, 43, 48);
    border-radius: 10px;
    border: none;
    font-weight: 300;
    color: #fff;
}

.inputWord:focus {
    color: white;
}

.inputTrns {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    height: 100px;
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(37, 43, 48);
    border-radius: 10px;
    resize: none;
    border: none;
    font-weight: 300;
    color: #fff;
}

.inputTrns::placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.inputTrns:focus {
    color: white;
}

.accept {
    width: 220px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border: none;
    transition: outline .2s;
    color: white;
    outline-color: white;
    font-family: 'Montserrat', sans-serif;
}

.accept:hover {
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
}