.pick {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    height: 110px;
    width: 200px;
    color: var(--main-text);
    padding-top: 90px;
}

.first, .second {
    height: 200px;
    border-radius: 10px;
    margin: 50px;
    width: 200px;
    background-color: var(--main-header);
    transition: .7s;
    background: linear-gradient(to top, var(--main-bg), var(--main-header));
}

.second:hover, .first:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px var(--main-text);
    transition: box-shadow .9s linear;
}

.chFaq {
    background-color: var(--main-bg);
    color: var(--main-text);
    font-size: 20px;
    border: none;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.chFaq:hover {
    outline: 1px;
    outline-color: var(--main-text);
    outline-style: solid;
    transition: outline .2s linear;
}

.enFaq {
    background-color: var(--main-bg);
    color: var(--main-text);
    font-size: 20px;
    border: none;
    margin-left: 30px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.enFaq:hover {
    outline: 1px;
    outline-color: var(--main-text);
    outline-style: solid;
    transition: outline .2s linear;
}

.hidden {
    display: none;
}

.description {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

