.pick {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* делаем флекс как бы по вертикали */
    text-align: center;
}

.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.language {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    height: 110px;
    width: 200px;
    color: var(--main-text);
    padding-top: 90px;
}

.first {
    height: 200px;
    margin: 0 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 0px;
    background-color: var(--main-header);
    transition: .7s;
    background: linear-gradient(to top, var(--main-bg), var(--main-header));
}

.first:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px var(--main-text);
    transition: box-shadow .9s linear;
}

.second {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--main-header);
    transition: .7s;
    background: linear-gradient(to top, var(--main-bg), var(--main-header));
}

.second:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px var(--main-text);
    transition: box-shadow .9s linear;
}