.pick {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* делаем флекс как бы по вертикали */
    text-align: center;
}

.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.language {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    height: 110px;
    width: 200px;
    color: rgb(255, 255, 255);
    padding-top: 90px;
}

.first {
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    height: 200px;
    border-radius: 10px;
    margin: 0 50px;
    width: 200px;
    margin-left: 0px;
    background-color: rgb(37, 43, 48);
}

.first:hover {
    box-shadow: 0 0 15px 10px rgb(255, 255, 255);
    transition: box-shadow .2s linear;
}

.second {
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(37, 43, 48);
}

.second:hover {
    box-shadow: 0 0 15px 10px rgb(255, 255, 255);
    transition: box-shadow .2s linear;
}