html {
    /* overflow-y: hidden; */
    scrollbar-face-color: black;
  }

body {
    background: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    scrollbar-face-color: black;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: white;
}

.intro {
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/back.jpg); */
}

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1400;
    background-color: rgb(37, 43, 48);
    padding-top: 20px; /* Отступ сверху!!! */
}

.contanier {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header__inner {
    display: flex; /* объеденяем div'ы внутри header__inner (flex box) */
    justify-content: space-between; /* делаем расстояние между name и nav */
    align-items: center; /* Выравнивание текста по центру!!! */
}

.name {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
}

.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block; /* навигация становится не просто словами, а блоком */
    margin:0 30px; /* отступ, расстояние между навигацией */
    color: white;
    text-decoration: none; /* убираем подчеркивание у ссылок */
    transition: color .2s linear; /* плавная смена цвета у ссылки */ 

}

.nav__link:hover {
    color: rgb(191, 127, 8);
}



.quiz {
    display: flex;
    height: 700px;
    width: 500px;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    margin-top: 160px;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    border-radius: 10px;
    flex-direction: column;
    color: white;
    padding-bottom: 10px;
    background-color: rgb(37, 43, 48) ;
}


.quiz-header {
    margin: auto;
    margin-top: 80px;
}

.quiz-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;

}

.answer {
    cursor: pointer;
}

span {
    font-size: 20px;
    font-weight: 600;
}

.quiz-list label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.quiz-list input[type='radio' i] {
    color: #fff;
}

li {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    transition: background-color .2s linear;
    margin-top: 20px;
    /* padding-top: 30px; */
    text-align: left;
    /* outline: 1px;
    outline-style: solid;
    outline-color: rgb(199, 141, 66); */
}

li:hover {
    background-color: rgb(199, 141, 66);
    transition: background-color .2s linear;
    /* box-shadow: 0 0 15px 10px rgb(199, 141, 66);
    transition: box-shadow .2s linear; */
}


.quiz-submit {
   border: 0;
   border-radius: 10px;
   background: rgb(37, 43, 48);
   color: #fff;
   padding: 10px 25px;
   width: 70%;
   font-size: 15pt;
   display: block;
   margin: 20px auto;
   cursor: pointer;
   width: 300px;
}

.quiz-submit:hover {
        /* background-color: rgb(199, 141, 66);
    transition: background-color .2s linear; */
    outline: 1px;
    outline-color: #fff;
    outline-style: solid;
    transition: outline .2s linear;
}


.lo {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    flex-direction: column; /* делаем флекс как бы по вертикали */
    text-align: center;
}

.summary {
    font-size: 15px;
    font-weight: 300;
    padding: 20px;
}

.result {
    font-size: 15px;
    font-weight: 300;
}





