<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="pricing.css" rel="stylesheet">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
    </style>

</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 bg-black border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal text-white">Hungry_rustler</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-4 text-white" href="/">Главная</a>
        <a class="p-4 text-white" href="/about-us">О нас</a>
        <a class="p-4 text-white" href="/lan-s">Карточки</a>
        <a class="p-4 text-white" href="#">Добавленные слова</a>
    </nav>
    <div align="right">
        <a class="btn btn-outline-secondary" href="/sing-in">Зарегистрироваться</a>
    </div>
</div>
<div align="left">
    <div class="card mb-3 text-center" style="width: 15rem;">
        <ul>
            <a class="p-4 text-black" href="/cards-en">Английский язык</a>
            <a class="p-4 text-black" href="/cards-ch">Китайский язык</a>
        </ul>
    </div>
</div>


{% block content %}{% endblock %}
</body>
</html>