{% extends 'main/base.html' %}

{% block title %}
Тест по китайскому
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/tests.css' %}">
{% endblock %}

{% block content %}
<div class="intro">
    <div class="contanier">
        <div class="quiz" id="quiz">
            <div class="quiz-header" id="header">
                <div class="lo">
                    <h2 class="title">%title%</h2>
                    <h3 class="summary">%message%</h3>
                    <p class="result">%result%</p>
                </div>
            </div>

            <ul class="quiz-list" id="list">
                <li class="testItem">
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li class="testItem">
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li class="testItem">
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li class="testItem">
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
            </ul>

            <button class="quiz-submit submit" id="submit">Ответить</button>
        </div>
    </div>
</div>
<script src="{% static 'main/js/chTest.js' %}"></script>
{% endblock %}

