<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}


    <link rel="stylesheet" href="{% static 'main/css/cards.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script>

    </script>
</head>


<body>


<header class="header">
    <div class="contanier">
        <div class="header__inner">
            <div class="name">Languages</div>

            <nav class="nav">
                <a class="nav__link" href="/">Главная</a>
                <a class="nav__link" href="#">Аккаунт</a>
                <a class="nav__link" href="/pickTest">Тесты</a>
                <a class="nav__link" href="#">Войти</a>
                <a class="nav__link" href="#">Регистрация</a>
            </nav>
        </div>
    </div>
    </div>
</header>


<div class="wrapper">

    <div class="title">
        <h4 class="myWords">МОИ СПИСОК</h4>
        <div class="wordBtn">
            <button class="wordBtnFirst" id="wordBtnFirst">
                <h4 class="hideWord">Скрыть слова</h4>
            </button>
        </div>
        <div class="descriptionBtn">
            <button class="descriptionBtnSecond" id="descriptionBtnSecond">
                <h4 class="hideDescription">Скрыть перевод</h4>
            </button>
        </div>
        <div class="createNewCard">
            <a class="createNewCardLink" href="/createEnCard"><h4 class="textCreate">Добавить слово (ch)</h4></a>
        </div>
    </div>
    {% if enCards %}
    {% for el in enCards %}
    <div class="card">
        <div class="cardWrapper">
            <div class="cardWrapperAll">
                <p class="word" id="word">
                    {{ el.word }}
                </p>
                <p class="description" id="description">
                    {{ el.description }}
                </p>
            </div>
            <div class="deleteWord">
                <button class="deleteWordBtn">Изменить</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="noCards">
        <p class="noCardsText">Тут пусто</p>
    </div>
    {% endif %}
</div>

<script src="{% static 'main/js/cardsShowHide.js' %}"></script>
</body>