{% extends 'main/base.html' %}

{% block title %}
Карточки английского
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
<link rel="stylesheet" href="{% static 'main/css/cards.css' %}">
<link rel="stylesheet" href="{% static 'main/css/createCard.css' %}">
{% endblock %}

{% block content %}

{% if update %}

<div class="formWrapper">
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.word }}<br>
        {{ form.description }}<br>
        {{ form.exposition }}<br>
        {{ form.partOfSpeech }}<br>
        <button type="submit" class="accept" id="inForm">Изменить</button>
    </form>
</div>

{% else %}

<div class="wrapper">
    <div class="searchWrapper">
        <input type="text" class="search" placeholder="Поиск">
    </div>
    <div class="title">
        <h4 class="myWords">МОИ СПИСОК</h4>
        <div class="wordBtn">
            <button class="wordBtnFirst" id="wordBtnFirst">
                <h4 class="hideWord">Скрыть слова</h4>
            </button>
        </div>
        <div class="descriptionBtn">
            <button class="descriptionBtnSecond" id="descriptionBtnSecond">
                <h4 class="hideDescription">Скрыть перевод</h4>
            </button>
        </div>
        <div class="createNewCard">
            <a class="createNewCardLink" href="/createEnCard"><h4 class="textCreate">Добавить слово (en)</h4></a>
        </div>
    </div>
    {% if enCards %}
    {% for el in enCards %}
    <div class="card">
        <div class="cardWrapper">
            <div class="info__contanier">
                <strong class="word" id="word">
                    {{ el.word }}
                </strong>
                <p class="description" id="description">
                    {{ el.description }}
                </p>
                <i class="partOfSpeech" id="partOfSpeech">
                    {{ el.partOfSpeech }}
                </i>
            </div>
            <div class="actionsButtons">
                <a class="changeButton" href="{% url 'updateEnPage' el.id %}"><span class="material-symbols-outlined" id="first">edit_square</span></a>
                <a class="infoButton" href="/enDetail/{{el.id}}"><span class="material-symbols-outlined" id="second">question_mark</span></a>
                <a class="deleteButton" href="{% url 'deleteEnPage' el.id %}"><span class="material-symbols-outlined" id="third">delete</span></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="noCards">
        <p class="noCardsText">Тут пусто</p>
    </div>
    {% endif %}
    {% endif %}
</div>
<script src="{% static 'main/js/cardsShowHide.js' %}"></script>
<script src="{% static 'main/js/searchCards.js' %}"></script>
{% endblock %}












