{% extends 'main/base.html' %}

{% block title %}
Карточки английского
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/cards.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="title">
        <h4 class="myWords">МОИ СПИСОК</h4>
        <div class="wordBtn">
            <button class="wordBtnFirst" id="wordBtnFirst">
                <h4 class="hideWord">Скрыть слова</h4>
            </button>
        </div>
        <div class="descriptionBtn">
            <button class="descriptionBtnSecond" id="descriptionBtnSecond">
                <h4 class="hideDescription">Скрыть перевод</h4>
            </button>
        </div>
        <div class="createNewCard">
            <a class="createNewCardLink" href="/createEnCard"><h4 class="textCreate">Добавить слово (ch)</h4></a>
        </div>
    </div>
    {% if enCards %}
    {% for el in enCards %}
    <div class="card">
        <div class="cardWrapper">
            <div class="cardWrapperAll">
                <p class="word" id="word">
                    {{ el.word }}
                </p>
                <p class="description" id="description">
                    {{ el.description }}
                </p>
            </div>
            <div class="deleteWord">
                <button class="deleteWordBtn">Изменить</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="noCards">
        <p class="noCardsText">Тут пусто</p>
    </div>
    {% endif %}
</div>
<script src="{% static 'main/js/cardsShowHide.js' %}"></script>
{% endblock %}












