{% extends 'main/base.html' %}

{% block title %}
Карточки китайского
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/cards.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <div class="cardWrapper">
            <div class="cardWrapperAll">
                <p class="word" id="word">
                    {{ getEnCard.word }}
                </p>
                <p class="description" id="description">
                    {{ getEnCard.description }}
                </p>
                <i class="partOfSpeech" id="partOfSpeech">
                    {{ getEnCard.partOfSpeech }}
                </i>
            </div>
        </div>
    </div>
    <div class="expositionCard">
        <p class="exposition">
            {{ getEnCard.exposition }}
        </p>
    </div>
</div>
{% endblock %}
