<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}


    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script>

    </script>
</head>


<body>


<header class="header">
    <div class="contanier">
        <div class="header__inner">
            <div class="name">Languages</div>

            <nav class="nav">
                <a class="nav__link" href="/">Главная</a>
                <a class="nav__link" href="#">Аккаунт</a>
                <a class="nav__link" href="/pickTest">Тесты</a>
                <a class="nav__link" href="#">Войти</a>
                <a class="nav__link" href="#">Регистрация</a>
            </nav>
        </div>
    </div>
    </div>
</header>

<div class="intro">
    <div class="contanier">
        <div class="pick">
            <h2>Выберите язык</h2>
            <div class="choose">
                <button class="chFaq" type="button" id="chFaq">?</button>
                <div class="first">
                    <a class="language" href="/chCards">Китайский язык</a>
                </div>

                <div class="second">
                    <a class="language" href="/enCards">Английский язык</a>
                </div>
                <button class="enFaq" type="button" id="enFaq">?</button>
            </div>

        </div>
        <h3 class="hidden" id="description"></h3>
    </div>
</div>

<script src="{% static 'main/js/index.js' %}"></script>
</body>
</html>