{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="intro">
    <div class="contanier">
        <div class="pick">
            <h2>Выберите язык</h2>
            <div class="choose">
                <button class="chFaq" type="button" id="chFaq">?</button>
                <div class="first">
                    <a class="language" href="/chCards">Китайский язык</a>
                </div>

                <div class="second">
                    <a class="language" href="/enCards">Английский язык</a>
                </div>
                <button class="enFaq" type="button" id="enFaq">?</button>
            </div>

        </div>
        <h3 class="hidden" id="description"></h3>
    </div>
</div>
<script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}
