{% extends 'main/base.html' %}

{% block title %}
Иностранные глаголы
{% endblock %}

{% block content %}
<div align="center">
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">1</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">be</h1>
                <p class="card-text">би</p>
                <p class="card-text">быть</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">2</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">can</h1>
                <p class="card-text">кэн</p>
                <p class="card-text">могу</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">3</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">have</h1>
                <p class="card-text">хэв</p>
                <p class="card-text">иметь</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">4</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">do</h1>
                <p class="card-text">ду</p>
                <p class="card-text">делать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">5</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">say</h1>
                <p class="card-text">сэй</p>
                <p class="card-text">говорить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">6</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">go</h1>
                <p class="card-text">гоу</p>
                <p class="card-text">идти</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">7</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">get</h1>
                <p class="card-text">гет</p>
                <p class="card-text">получать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">8</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">make</h1>
                <p class="card-text">мэйк</p>
                <p class="card-text">делать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">9</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">know</h1>
                <p class="card-text">ноу</p>
                <p class="card-text">знать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">10</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">think</h1>
                <p class="card-text">синк</p>
                <p class="card-text">думать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">11</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">take</h1>
                <p class="card-text">тэйк</p>
                <p class="card-text">брать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">12</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">see</h1>
                <p class="card-text">си</p>
                <p class="card-text">видеть</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">13</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">come</h1>
                <p class="card-text">ком</p>
                <p class="card-text">приходить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">14</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">want</h1>
                <p class="card-text">вонт</p>
                <p class="card-text">хотеть</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">15</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">use</h1>
                <p class="card-text">юз</p>
                <p class="card-text">использовать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">16</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">find</h1>
                <p class="card-text">файнд</p>
                <p class="card-text">находить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">17</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">give</h1>
                <p class="card-text">гив</p>
                <p class="card-text">давать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">18</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">tell</h1>
                <p class="card-text">тэл</p>
                <p class="card-text">говорить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">19</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">work</h1>
                <p class="card-text">ворк</p>
                <p class="card-text">работать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">20</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">call</h1>
                <p class="card-text">кол</p>
                <p class="card-text">звонить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">21</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">try</h1>
                <p class="card-text">трай</p>
                <p class="card-text">пытаться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">22</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">ask</h1>
                <p class="card-text">аск</p>
                <p class="card-text">спрашивать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">23</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">need</h1>
                <p class="card-text">нид</p>
                <p class="card-text">нуждаться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">24</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">feel</h1>
                <p class="card-text">фил</p>
                <p class="card-text">чувствовать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">25</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">become</h1>
                <p class="card-text">беком</p>
                <p class="card-text">становиться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
</div>
{% endblock %}

