{% extends 'main/base.html' %}

{% block title %}
Глаголы китайского языка
{% endblock %}

{% block content %}
<div class="card mb-3 text-center" style="width: 18rem;">
    <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <h1 class="card-title">做</h1>
            <p class="card-text">Делать</p>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Добавить</button>
    </div>
</div>

<div class="card mb-3 text-center" style="width: 18rem;">
    <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <h1 class="card-title">做</h1>
            <p class="card-text">Делать</p>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Добавить</button>
    </div>
</div>
{% endblock %}
