{% extends 'main/base.html' %}

{% block title %}
Иностранные глаголы
{% endblock %}

{% block content %}
<div align="center">
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">1</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">做</h1>
                <p class="card-text">zuo4</p>
                <p class="card-text">делать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">2</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">回</h1>
                <p class="card-text">hui2</p>
                <p class="card-text">возвращаться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">3</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">会</h1>
                <p class="card-text">hui4</p>
                <p class="card-text">уметь</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">4</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title" >想</h1>
                <p class="card-text">xiang3</p>
                <p class="card-text">хотеть, думать, скучать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">5</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">在</h1>
                <p class="card-text">zai4</p>
                <p class="card-text">находиться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">6</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">做饭</h1>
                <p class="card-text">zuo4 fan4</p>
                <p class="card-text">готовить (еду)</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">7</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">喜欢</h1>
                <p class="card-text">xi3 huan0</p>
                <p class="card-text">нравится</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">8</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">爱</h1>
                <p class="card-text">ai4</p>
                <p class="card-text">любить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">9</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">知道</h1>
                <p class="card-text">zhi1 dao4</p>
                <p class="card-text">знать (что-что)</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">10</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">认识</h1>
                <p class="card-text">ren4 shi0</p>
                <p class="card-text">знать (кого-то)</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">11</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">听</h1>
                <p class="card-text">ting1</p>
                <p class="card-text">слушать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">12</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">看</h1>
                <p class="card-text">kan4</p>
                <p class="card-text">смотреть, читать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">13</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">有</h1>
                <p class="card-text">you3</p>
                <p class="card-text">иметь</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">14</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">要</h1>
                <p class="card-text">yao4</p>
                <p class="card-text">хотеть, требовать, намереваться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">15</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">卖</h1>
                <p class="card-text">mai4</p>
                <p class="card-text">продавать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">16</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">买</h1>
                <p class="card-text">mai3</p>
                <p class="card-text">покупать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">17</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">开始</h1>
                <p class="card-text">kai1 shi3</p>
                <p class="card-text">начинать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">18</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">结束</h1>
                <p class="card-text">jie2 shu4</p>
                <p class="card-text">заканчивать</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">19</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">看见</h1>
                <p class="card-text">kan4 jian4</p>
                <p class="card-text">увидеть (результат)</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">20</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">玩儿</h1>
                <p class="card-text">wanr2</p>
                <p class="card-text">играть</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">21</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">吃饭</h1>
                <p class="card-text">chi1 fan4</p>
                <p class="card-text">кушать еду</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">22</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">来</h1>
                <p class="card-text">lai2</p>
                <p class="card-text">приходить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">23</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">回来</h1>
                <p class="card-text">hui2 lai2</p>
                <p class="card-text">возвращаться</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">24</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">打</h1>
                <p class="card-text">da3</p>
                <p class="card-text">бить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>
    <div class="card mb-3 text-center" style="width: 40rem;">
        <div align="left">
            <h3 class="p-4">25</h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h1 class="card-title">喝</h1>
                <p class="card-text">he1</p>
                <p class="card-text">пить</p>
            </ul>
            <hr>
            <button type="button" class="btn btn-outline-secondary">Добавить</button>
        </div>
    </div>


</div>
{% endblock %}





