{% extends 'main/base.html' %}

{% block title %}
Выбрать тест
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/pickTest.css' %}">
{% endblock %}

{% block content %}
<div class="intro">
    <div class="contanier">
        <div class="pick">
            <h2>По какому языку хотите пройти тест?</h2>
            <div class="choose">
                <div class="first">
                    <a class="language" href="/chTest">Китайский язык</a>
                </div>
                <div class="second">
                    <a class="language" href="/enTest">Английский язык</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src=""></script>
{% endblock %}
