{% extends 'main/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div align="center">
    <div class="card mb-3">
        <form class="form-signin">
            <h1 class="h1 mb-3 font-weight-normal">Регистрация</h1>
            <input type="email" id="inputEmail" class="form-control" placeholder="Введите почту..."
                   required="" autofocus=""
                   style="width: 18rem;">
            <label></label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Придумайте пароль..." required=""
                   style="width: 18rem;">
            <div class="checkbox mb-4 "><br>
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Зарегистрироваться</button>
            <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
    </div>
</div>
{% endblock %}

