<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/tests.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script>
        
    </script>
</head>


<body>


<header class="header">
    <div class="contanier">
        <div class="header__inner">
            <div class="name">Languages</div>

            <nav class="nav">
                <a class="nav__link" href="/">Слова</a>
                <a class="nav__link" href="#">Аккаунт</a>
                <a class="nav__link" href="/tests">Тесты</a>
                <a class="nav__link" href="#">Войти</a>
                <a class="nav__link" href="#">Регистрация</a>
            </nav>
        </div>
    </div>
</div>
</header>

<div class="intro">
    <div class="contanier">
        <div class="quiz" id="quiz">
            <div class="quiz-header" id="header">
                <div class="lo">
                    <h2 class="title">%title%</h2>
                    <h3 class="summary">%message%</h3>
                    <p class="result">%result%</p>
                </div>
            </div>
                
            <ul class="quiz-list" id="list">
                <li>
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" class="answer" name="answer">
                        <span></span>
                    </label>
                </li>                
            </ul>
            
            <button class="quiz-submit submit" id="submit">Ответить</button>
        </div>
    </div>
</div>
<script src="{% static 'main/js/tests.js' %}"></script>
</body>